.flag-main-div {
    display: flex;
    justify-content: space-between;
}

.flag-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
/* a.dropdown-item{
   color: yellow;
} */